* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
}

a   {
    text-decoration: none;
}

main > div {
    border: 1px solid blue;
    display: flex;
    justify-content: center;
    align-items: center;

}

main {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
}

i {
    font-size: 48px;
}

#score {
    gap: 15px;
    margin-top: 2rem;

}

#score, #score > div {
    display: flex;
    justify-content: center;
}

#score > div {
    width: 80px;
    height: 80px;
    background-color: yellow;
    border-radius: 5px;
    color: black;

    flex-direction: column;
    text-align: center;
    gap: 1rem;
}

.link-section {
    width: 60%;
    height: 300px;
    background-color: #503f3f;
    flex-direction: column;
    gap: 2rem;

    border-radius: 5px;

    position: absolute;
    top: 20%;
}

.link-section > p {
    font-size: 24px;
}

.links-container, .link-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.links-container {
    gap: 1rem;
}
 /* First link style */
.popup-link.primary {
    background: blue;
    color: white;
    padding: 8px 12px;
}

.popup-link.primary:hover {
    background: black;

}
/* Second link style */
.popup-link.secondary {
    background-color: red;
    color: #000000;
    border: 2px solid #070707;
    padding: 8px 12px;

}

.popup-link.secondary:hover {
    background-color: #f8f9ff;
}
